.Centro {
    position: relative;
    display: flex;
    justify-content: center;
    margin-left: 10%;
    width: 70%;
    height: 100%;
    margin-bottom: 5%;
}

.Lista {
    position: relative;
    margin-top: 2%;
    margin-left: 10%;

}

.Botoes {
    display: flex;
    justify-content: end;
    width: 7%;
    background-color: red;
}

#BtnSair {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    margin-left: 90%;
    margin-right: 3%;
}