node_modules/
config.js
JavaScript/FrontEnd/Controller/config.js
desktop.ini
desktop.ini/
/desktop.ini
Desktop.ini
DESKTOP.INI
**/desktop.ini
desktop.ini/*
Desktop.ini
DESKTOP.INI
**/desktop.ini
**/Desktop.ini
